.table
{
    color:white;
    background-color: rgb(4,29,49);
    font-size: 16px;
    font-family: serif;
    padding: 5px;
    border: 3px solid grey;
    border-radius: 15px 15px 15px 15px;
    text-align: -webkit-center;
    margin-left: 400px;
    margin-right: 400px;
    line-height: 2rem;
    
}

.table input
{
    font-size: 18px;    
}

#submit
{
    margin-top: 25px;
    margin-bottom: 30px;
    background-color:darkcyan;
    border:1px solid black;
    padding: 5px;
    border-radius: 5px;
    color: wheat;
    cursor: pointer;
}
